h1{
    font-family: 'Papyrus', 'Copperplate','Serif';
    color: blanchedalmond;
    background-color: brown;
}

body{
    background-color: beige;
}

ul{
    font-size: large;
    font-style: italic;
    font-family: cursive;
    font-weight: 600;
}
#ads{
    border: 1px solid black;
    margin: 10px;
}
#kofta{
    border: 1px solid black;
    margin: 10px;
}
#bechamel{
    border: 1px solid black;
    margin: 10px;
}