h1{
    font: 'Papyrus', 'Copperplate','Serif';
    color: blanchedalmond;
    background-color: brown;
}

body{
    background-color: beige;
}

uo{
    font-size: large;
    font-style: italic;
    font-family: cursive;
    font-weight: 600;
}